p { /* Applied to all <p> tags */
  color: blue;
}

.red { /* Applied to all tags with the class "red" */
  background: red;
}

#some-id { /* Applied to the tag with the id "some-id" */
  font-style: italic;
}

li p { /* Applied only to <p> tags that are contained within <li> tags */
  color: #333;
}